.about-page__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc((100% / 2) - 30px);
  box-shadow: 1px 1px 5px gray;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.04);
    box-shadow: 3px 3px 10px gray;
  }
}

.about-page__box-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.about-page__box-text h3 {
  font-size: 22px;
  font-weight: 800;
}

.about-page__box-text p {
  text-align: justify;
  line-height: 26px;
}
