.page-description {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  border-radius: 15px;
  margin: 90px 10px 30px 10px;
}

.page-description div {
  padding: 40px;
}

.page-description p {
  margin: 10px 0;
  line-height: 25px;
  text-align: justify;
}

.page-description h3 {
  font-size: 25px;
}

.page-description img {
  width: 550px;
}

.container-home {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 970px) {
  .page-description img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .page-description {
    flex-wrap: wrap;
  }

  .page-description img {
    width: 90%;
  }
}
