header {
  padding: 10px 0;
}

.logo-header {
  display: flex;
  align-content: center;
  font-size: 20px;
}

header .container-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  flex-wrap: wrap;
}

.link-header {
  margin: 0 10px;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.selected {
  color: #212529;
  text-decoration: underline;
  font-weight: 800;
}

.svg-header {
}

@media screen and (max-width: 470px) {
  .logo-header span {
    margin-bottom: 20px;
  }
}
